refrences/Protfolio Tim Ruland Druck.pdf
# refrences/Portfolio.fig
# assets/Design der Mensch Maschine Schnittstelle/WatchOut/title-img.psd
__MACOSX/
.DS_Store
/target
/dist
**/png/
public/assets/Ergomote/Präsi Fernbedienung.deck
idea/Portfolio Tim.fig
