#hero {
    --grid-size: 3;

    display: flex;
    flex-direction: column;
    height: 80vh;

    .spread {
        margin: 2em 0;
        flex-grow: 1;
        display: grid;
        align-items: end;
        overflow: hidden;
        grid-template-columns: repeat(var(--grid-size), 1fr);
        grid-template-rows: repeat(var(--grid-size), 1fr);

        scroll-image,
        scroll-image *,
        .scrolling-container,
        .scrolling-container * {
            grid-column: calc(var(--grid-size) + 1) / 1;
            grid-row: calc(var(--grid-size) + 1) / 1;
            object-fit: cover;
        }

        #heroButtons {
            width: fit-content;
            height: fit-content;
            /* padding: 1em 2ch;
            border-radius: var(--border-r);
            background-color: rgba(120, 120, 120, 0.2); */
            grid-column: var(--grid-size);
            grid-row: var(--grid-size);
        }
    }
}

#projectgrid {
    padding-top: 8rem;
    margin-bottom: 5rem;
}

