#hero {
    --grid-size: 3;

    display: flex;
    flex-direction: column;
    height: 80vh;

    .spread {
        margin: 2em 0;
        flex-grow: 1;
        display: grid;
        align-items: end;
        overflow: hidden;
        grid-template-columns: repeat(var(--grid-size), 1fr);
        grid-template-rows: repeat(var(--grid-size), 1fr);

        scroll-image,
        scroll-image *,
        .scrolling-container,
        .scrolling-container * {
            grid-column: calc(var(--grid-size) + 1) / 1;
            grid-row: calc(var(--grid-size) + 1) / 1;
            object-fit: cover;
        }

        #heroButtons {
            width: fit-content;
            height: fit-content;
            /* padding: 1em 2ch;
            border-radius: var(--border-r);
            background-color: rgba(120, 120, 120, 0.2); */
            grid-column: var(--grid-size);
            grid-row: var(--grid-size);
        }
    }
}

.scrolling-container,
scroll-image {
    width: 100%;
    height: 100%;
    /* Höhe der Anzeige, je nach Bedarf anpassen */
    overflow: hidden;
    /* Verhindert, dass das Bild außerhalb des Containers sichtbar wird */
    position: relative;
    z-index: -1;
}

.scrolling-image {
    display: block;
    object-fit: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    animation: scrollVertical 10s linear infinite;
}

@keyframes scrollVertical {
    0% {
        translate: 0 0;
    }

    100% {
        translate: 0 -100%;
        /* Zweites Bild kommt an die Stelle des ersten Bildes */
    }
}

@keyframes scrollHorizontal {
    0% {
        translate: 0 0;
    }

    100% {
        translate: 100% 0;
        /* Zweites Bild kommt an die Stelle des ersten Bildes */
    }
}

@keyframes scrollBoth {
    0% {
        translate: 0 0;
    }

    100% {
        translate: 100% -100%;
        /* Zweites Bild kommt an die Stelle des ersten Bildes */
    }
}

#projectgrid {
    padding-top: 8rem;
}