/********************************
 *                              *
 *            Reset             *
 *                              *
 *******************************/
/* #region Reset */
/* adapted from https://www.joshwcomeau.com/css/custom-css-reset/?from=newsletter*/
@layer reset {

    /* 1. Use a more-intuitive box-sizing model */
    :where(*),
    :where(*)::after,
    :where(*)::before {
        box-sizing: border-box;
        transition:
            all var(--transition-time, 0.2s) ease-in-out allow-discrete,
            visibility 0s allow-discrete;
        transition-behavior: allow-discrete;
        /* 7. Inherit fonts for example form controls */
        font: inherit;
        scroll-behavior: smooth;
        accent-color: var(--accent);
        /* -webkit-text-size-adjust: 100%; */
        /* -webkit-text-size-adjust: none;
        text-size-adjust: none;
        */
    }

    :where(sub, sup) {
        font-size: revert;
    }

    :where(*) {
        /* 2. Remove default margin */
        margin: 0;
        padding: 0;
        color: inherit;
    }

    :where(ol,
        ul,
        li) {
        list-style: none;
    }

    :where(:focus-visible) {
        outline: none;
        outline: 0.15rem solid rgb(from var(--accent) r g b / 0.5);
    }

    /* 3. Enable keyword animations */
    @media (prefers-reduced-motion: no-preference) {
        :where(html) {
            interpolate-size: allow-keywords;
        }
    }

    :where(body) {
        /* 4. Add accessible line-height */
        line-height: 1.5;
        /* 5. Improve text rendering */
        -webkit-font-smoothing: antialiased;
        min-height: 100dvh;
        color: var(--fg);
        background-color: var(--bg);
        display: flex;
        flex-direction: column;
    }

    /* 6. Improve media defaults */
    :where(img,
        picture,
        video,
        canvas,
        svg) {
        display: block;
        max-width: 100%;
    }

    :where(img) {
        object-fit: cover;
    }

    :where(button) {
        border: none;
    }

    /* 8. Avoid text overflows */
    :where(a,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6) {
        overflow-wrap: break-word;
        text-decoration: none;
    }

    /* 9. Improve line wrapping */
    :where(a,
        p) {
        text-wrap: stable;
        text-wrap: pretty;
    }

    :where(h1,
        h2,
        h3,
        h4,
        h5,
        h6) {
        text-wrap: balance;
    }

    :where(select) {
        background-color: rgba(from var(--bg) r g b / 0);
        border: none;
        outline: none;
        color: var(--fg);
        cursor: pointer;
        font-size: 1rem;
    }

    :where(svg) {
        fill: var(--fg);

        /* stroke: var(--fg); */
        &:hover,
        &.hover {
            fill: var(--accent-2);
        }
    }

    :where(option) {
        outline: none;
        border: none;
        background-color: var(--bg);
        color: var(--fg);
    }

    /*
  10. Create a root stacking context
*/
    :where(#root,
        #__next) {
        isolation: isolate;
    }
}

/* #endregion Reset */

/********************************
 *                              *
 *           Helpers            *
 *                              *
 *******************************/
/* #region Helpers*/
@layer helpers {

    @media screen {

        :where(.print,
            .print *) {
            visibility: hidden;
            position: absolute;
        }

        :where(.no_print,
            .no_print *) {
            visibility: unset;
            position: unset;
        }
    }

    @media print {

        :where(.print,
            .print *) {
            visibility: unset;
            position: unset;
        }

        :where(.no_print,
            .no_print *) {
            visibility: hidden;
            position: absolute;
        }
    }

    :where(.mobile,
        .mobile *) {
        visibility: hidden;
        position: absolute;
    }

    @media screen and (width<740px) {

        :where(.mobile,
            .mobile *) {
            visibility: unset;
            position: unset;
        }
    }

    img.invert {
        filter: invert(var(--_invert));
    }

    .light img.invert.invert-dark,
    .dark img.invert.invert-light,
    .system img.invert.invert-dark {
        --_invert: 0;
    }

    .dark img.invert.invert-dark,
    .light img.invert.invert-light {
        --_invert: var(--invert, 1);
    }

    @media (prefers-color-scheme: dark) {
        .system img.invert.invert-dark {
            --_invert: var(--invert, 1);
        }
    }

    .dark .light-only,
    .light .dark-only {
        display: none;
    }

    @media (prefers-color-scheme: dark) {

        .system .light-only {
            display: none;
        }
    }

    @media (prefers-color-scheme: light) {
        .system .dark-only {
            display: none;
        }

    }

    /************ Text *************/
    /* #region Text */
    :where(.title) {
        font-family: "JetBrains Mono";
    }

    :where(.title,
        .gigantic) {
        font-size: var(--fs-gigantic);
        font-weight: var(--fw-gigantic);
        line-height: var(--lh-small);
    }

    :where(.title.margin-b, .gigantic.margin-b),
    :where(.margin-b-gigantic) {
        margin-block: var(--fmb-gigantic);
    }

    :where(.title.padding-b, .gigantic.padding-b),
    :where(.padding-b-gigantic) {
        padding-block: var(--fmb-gigantic);
    }

    :where(.section-title,
        .large) {
        font-size: var(--fs-large);
        font-weight: var(--fw-large);
        line-height: var(--lh-normal);
    }

    :where(.section-title.margin-b, .large.margin-b),
    :where(.margin-b-large) {
        margin-block: var(--fmb-large);
    }

    :where(.section-title.padding-b, .large.padding-b),
    :where(.padding-b-large) {
        padding-block: var(--fmb-large);
    }

    :where(.medium) {
        font-size: var(--fs-medium);
        font-weight: var(--fw-medium);
        line-height: var(--lh-large);
    }

    :where(.medium.margin-b),
    :where(.margin-b-medium) {
        margin-block: var(--fmb-medium);
    }

    :where(.medium.padding-b),
    :where(.padding-b-medium) {
        padding-block: var(--fmb-medium);
    }

    :where(.normal) {
        font-size: var(--fs-normal);
        font-weight: var(--fw-normal);
        line-height: var(--lh-gigantic);
    }

    :where(.normal.margin-b),
    :where(.margin-b-normal) {
        margin-block: var(--fmb-normal);
    }

    :where(.normal.padding-b),
    :where(.padding-b-normal) {
        padding-block: var(--fmb-normal);
    }

    /* #endregion Text */

    /* #region Fit*/
    :where(.min-min) {
        min-width: min-content;
    }

    :where(.min-fit) {
        min-width: fit-content;
    }

    :where(.min-max) {
        min-width: max-content;
    }

    :where(.min) {
        width: min-content;
    }

    :where(.fit) {
        width: fit-content;
    }

    :where(.max) {
        width: max-content;
    }

    :where(.max-min) {
        max-width: min-content;
    }

    :where(.max-fit) {
        max-width: fit-content;
    }

    :where(.max-max) {
        max-width: max-content;
    }

    :where(.max-hund) {
        max-width: 100%;
    }

    /* #endregion Fit */


    @media screen and (prefers-reduced-motion: no-preference) {
        .accent-border {
            box-shadow: 0 0 0.75ch var(--accent),
                0 0 1.25ch var(--accent),
                0 0 2ch var(--accent);
        }
    }

    :where(.button) {
        --b-hover: var(--accent);
        --b-hover-fg: var(--light);
        --b-fg: var(--fg);
        --b-bg: var(--bg);
        --b-b: var(--b-fg);
        display: block;
        cursor: pointer;
        width: max-content;
        padding: 1.5ch;
        border: 1px solid var(--b-b);
        border-radius: var(--border-r);

        color: var(--b-fg);
        fill: var(--b-fg);
        background-color: var(--b-bg);

        &:where(:hover, .hover) {
            background-color: var(--b-hover);
            color: var(--b-hover-fg);
            fill: var(--b-hover-fg);
        }

        &:where(.accent) {
            --b-hover: var(--accent-2);
            --b-fg: var(--light);
            --b-bg: var(--accent);
            --b-b: transparent;
        }
    }

    :where(.center) {
        place-self: center;
    }

    :where(.align-center) {
        align-self: center;
    }

    :where(.just-center) {
        justify-self: center;
    }

    :where(.heading) {
        padding-inline: var(--outer-pad-inline);
    }

    :where(.card) {
        --x: 0.5rem;
        --y: 0.5rem;
        --blur: 0.5rem;
        --i-border-c: var(--border-c, var(--fg, gray));
        position: relative;
        display: grid;
        padding: 0.5em 1ch;
        background-color: color-mix(in srgb, var(--bg), gray 0%);
        border-radius: var(--border-r);
        border: 1px solid var(--i-border-c);
        filter: drop-shadow(var(--x) var(--y) var(--blur) rgb(from var(--fg) r g b / 0.1));
    }

    :where(.content) {
        padding-inline: var(--inner-pad-inline);
    }

    :where(.flex) {
        display: flex;
        gap: var(--gap, 1ch);

        &:where(.a-start) {
            align-items: start;
        }

        &:where(.a-center) {
            align-items: center;
        }

        &:where(.a-end) {
            align-items: end;
        }

        &:where(.j-start) {
            justify-content: start;
        }

        &:where(.j-center) {
            justify-content: center;
        }

        &:where(.j-end) {
            justify-content: end;
        }

        &:where(.column) {
            flex-direction: column;
        }

        &:where(.wrap) {
            flex-wrap: wrap;
        }

        &:where(.wrap-reverse) {
            flex-wrap: wrap-reverse;
        }

        &:where(.inline) {
            display: inline-flex;
        }

        &:where(.grow)>*,
        >:where(.grow) {
            flex-grow: 1;
        }

        &:where(.shrink)>*,
        >:where(.shrink) {
            flex-shrink: 1;
        }

        &:where(.no-grow)>*,
        >:where(.no-grow) {
            flex-grow: 0;
        }

        &:where(.no-shrink)>*,
        >:where(.no-shrink) {
            flex-shrink: 0;
        }

        &:where(.basis)>*,
        >:where(.basis) {
            flex-basis: fit-content;
        }

        &:where(.basis-min)>*,
        >:where(.basis-min) {
            flex-basis: 0;
        }
    }

    :where(.full) {
        width: 100%;
        height: 100%;

        &:where(.children)> :where(*) {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    :where(.grid) {
        display: grid;
        gap: var(--gap, 0);

        &:where(.fixed-grid) {
            grid-template-columns: repeat(var(--grid-width, 1), 1fr);
            grid-template-rows: repeat(var(--grid-height, auto-fit), var(--row-height, 1fr));
        }

        &:where(.default) {
            --gap: 1ch;
        }

        &:where(.auto,
            .default) {
            --_min-col: var(--min-col, 40ch);
            --_grid-max-col-count: var(--grid-max-col-count, -1);
            --col-width:
                min(max(calc((100% - (var(--gap, 0%) * var(--_grid-max-col-count))) / var(--_grid-max-col-count)),
                        var(--_min-col)),
                    100%);
            grid-template-columns: repeat(auto-fill, minmax(var(--col-width), 1fr));
            justify-content: center;
            grid-auto-flow: dense;
        }

        &:where(.layer) {
            place-items: center;

            :where(*) {
                grid-column: 1 / -1;
                grid-row: 1 / -1;
            }
        }
    }

    :where(.grow) {
        flex-grow: 1;
    }

    :where(.left) {
        margin-right: auto;
    }

    :where(.link) {
        text-decoration: none;
        /* padding: 0.1em; */
        color: var(--fg);
        cursor: pointer;

        &:where(:hover, .hover, .link-active) {
            color: var(--accent-2);
            fill: var(--accent-2);

            :where(svg) {
                fill: var(--accent-2);
            }
        }
    }

    :where(.list) {
        li {
            /* margin: 0 0 0.5em 2ch; */
            margin: 0 0 0.5em 3ch;

            &::before {
                content: "*";
                padding-right: 1ch;
                margin-left: -2ch;
            }
        }
    }

    :where(.no-wrap) {
        white-space: nowrap;

        * {
            white-space: nowrap;
        }
    }

    :where(.reverse) {
        display: inline-flex;
        flex-direction: column-reverse;
    }

    :where(.right) {
        margin-left: auto;
    }

    :where(.round) {
        border-radius: 50%;
    }

    :where(.separator) {
        display: inline-flex;

        &::before {
            content: "|";
            place-self: center;
        }
    }

    :where(.underline,
        :focus-visible) {
        --transition-time: 400ms;

        background:
            /* default */
            linear-gradient(to right, rgb(from var(--bg) r g b / 0), rgb(from var(--bg) r g b / 0)),
            /* hover */
            linear-gradient(to right, var(--accent), var(--accent-2), var(--accent));

        background-size: 100% 0.1em, 0 0.1em;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size var(--transition-time);

        &:where(:hover:not(active),
            :focus-visible, .permanent, .hover) {
            background-size: 0 0.1em, 100% 0.1em;
        }
    }

    :where([data-tooltip]) {
        position: relative;

        .tooltip {
            display: none;
            color: var(--fg);
            bottom: 0;
            width: fit-content;
            width: 100%;
            position: absolute;
            background-color: rgba(from var(--bg) r g b / calc(var(--transparency) / 2));
            -webkit-backdrop-filter: blur(calc(var(--blur-r) / 2));
            backdrop-filter: blur(calc(var(--blur-r) / 2));
            z-index: 2;
            text-wrap: balance;
            padding: 2ch;
            border-radius: var(--border-r) var(--border-r) 0 0;
            place-items: center;
            text-align: center;
        }

        &:hover .tooltip,
        &.hover .tooltip {
            display: grid;
            opacity: 1;
        }
    }
}

@starting-style {
    .tooltip {
        opacity: 0;
    }
}

/* #endregion Helpers*/