/********************************
 *                              *
 *            Reset             *
 *                              *
 *******************************/
/* #region Reset */
/* adapted from https://www.joshwcomeau.com/css/custom-css-reset/?from=newsletter*/
/* 1. Use a more-intuitive box-sizing model */
*::before,
*::after,
* {
    box-sizing: border-box;
    transition: color 0.2s ease-in-out,
        background-color 0.2s ease-in-out,
        background 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        stroke 0.2s ease-in-out,
        fill 0.2s ease-in-out;
    /* 2. Remove default margin */
    margin: 0;
    padding: 0;
    /* 7. Inherit fonts for example form controls */
    font: inherit;
}



/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    min-height: 100dvh;
    color: var(--fg);
    background-color: var(--bg);
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    border: none;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* #endregion Reset */

/********************************
 *                              *
 *           Helpers            *
 *                              *
 *******************************/
/* #region Helpers*/

@media screen {

    .print,
    .print * {
        display: none;
    }
}

@media print {
    :root {
        --bg: var(--light);
        --fg: var(--dark);
        color-scheme: light;
    }

    .no_print,
    .no_print * {
        display: none;
    }
}

.mobile {
    display: none;
}

@media screen and (width<740px) {
    .mobile {
        display: block;
    }
}

.center {
    place-self: center;
}

.flex {
    display: flex;
    gap: var(--gap, 1ch);

    &.column {
        flex-direction: column;
    }
}

.full {
    width: 100%;
    height: 100%;
}

.grow {
    flex-grow: 1;
}

.reverse {
    display: inline-flex;
    flex-direction: column-reverse;
}

.underline,
:focus-visible {
    --transition-time: 400ms;

    background:
        /* default */
        linear-gradient(to right, rgb(from var(--bg) r g b / 0), rgb(from var(--bg) r g b / 0)),
        /* hover */
        linear-gradient(to right, var(--accent-dark), var(--accent), var(--accent-dark));

    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size var(--transition-time);

    &:hover,
    &:active,
    &:focus {
        background-size: 0 0.1em, 100% 0.1em;
    }
}

/* #endregion Helpers*/