@font-face {
    font-family: "JetBrains Mono";
    src: local("JetBrains Mono"), url(/assets/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
}

*::before,
*::after,
* {
    transition: color 0.2s ease-in-out,
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        stroke 0.2s ease-in-out,
        fill 0.2s ease-in-out;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

:root {
    --dark: #181818;
    --light: #ddd;
    --light: #eee;
    --accent-light: #6060ff;
    /* --accent-2: color-mix(in srgb, color-mix(in srgb, var(--bg), var(--fg) 0%), var(--accent) 50%); */
    --accent: #4141bd;

    --outer-width: 80dvw;
    --content-width: calc(var(--outer-width) - 5dvw);
    --border-r: 1rem;

    font-family: "JetBrains Mono", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}


:root:has(#theme_system:checked) {

    @media screen and (prefers-color-scheme: light) {
        --bg: var(--light);
        --fg: var(--dark);
        color-scheme: light;
    }

    @media screen and (prefers-color-scheme: dark) {
        --bg: var(--dark);
        --fg: var(--light);
        color-scheme: dark;
    }
}

:root:has(#theme_dark:checked) {
    --bg: var(--dark);
    --fg: var(--light);
    color-scheme: dark;
}

:root:has(#theme_light:checked) {
    --bg: var(--light);
    --fg: var(--dark);
    color-scheme: light;
}

select,
::picker(select) {
    /* appearance: base-select; */
}

select {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: var(--fg);
    cursor: pointer;
    font-size: 1rem;
}

dialog {
    margin: revert;
    padding: revert;
    color: var(--fg);
    background-color: rgba(from var(--bg) r g b / 0.8);
    max-width: var(--outer-width);
}

img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
}

svg {
    fill: var(--fg);
}

body {
    background-color: var(--bg);
    color: var(--fg);
    min-height: 100dvh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;
}

.detail {
    min-height: 100dvh;
    max-width: 100dvw;
}

.button {
    --i-size: var(--size, 2em);
    margin: var(--i-size) 2ch;
    padding: calc(var(--i-size)*0.5) calc(var(--i-size)*0.75);
    border-radius: var(--border-r);
    border: 0.1em solid var(--fg);
    color: var(--fg);
    background-color: var(--bg);
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;

    &[active] {
        background-color: var(--accent-light);
        border-color: rgba(255, 255, 255, 0);
        color: var(--light);
    }

    &:hover {
        color: var(--light);
        border-color: rgba(255, 255, 255, 0);
        background-color: var(--accent);
    }

    &[passive] {
        margin: calc(var(--i-size) / 2) 0;

        &:hover {
            color: var(--dark);
            border-color: rgba(255, 255, 255, 0);
            background-color: var(--light);
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-width), 1fr);
    grid-template-rows: repeat(var(--grid-height, auto-fit), var(--row-height, 1fr));
    gap: var(--gap);

    &.auto,
    &.default {
        grid-template-columns: repeat(auto-fill, minmax(var(--min-col), 1fr));
        justify-content: center;
        grid-auto-flow: dense;
    }

    &.default {
        --gap: 1ch;
    }
}

.masonry {
    &.default {
        --column-width: 20ch;
    }

    columns: var(--column-width);
}

.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }
}

.grow {
    flex-grow: 1;
}

.heading {
    grid-area: Heading;
    column-span: all;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    width: var(--outer-width);

    .title-image {
        height: 25em;
        width: 100%;
    }
}

.content {
    grid-area: content;
    width: var(--content-width);
    margin: 0 auto;
}

.card {
    --pad: 1ch;
    padding: var(--pad);
    margin: 0.25em;
    background-color: color-mix(in srgb, var(--bg), var(--fg) 10%);
    border: 0.2ch solid rgba(from var(--fg) r g b / 0.25);
    border-radius: var(--border-r);
    grid-row: span 5;
    display: grid;
    grid-template-rows: subgrid;

    h3 {
        margin-top: 0.25em;
    }

    h4 {
        margin-top: -0.5em;
    }

    img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        border-radius: calc(var(--border-r) - var(--pad) / 2);
    }

    &:hover {
        background-color: var(--accent);
        color: var(--light);
        border-color: rgba(255, 255, 255, 0);

        ::selection {
            color: var(--accent);
            background-color: var(--light);
        }
    }
}

[modal-target],
[dialog-target],
[popover-target] {
    /* cursor: pointer; */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1ch;
    width: var(--outer-width);
}

site-header {
    --transparency: 0.85;

    position: sticky;
    top: 0;

    background-color: rgba(from var(--bg) r g b / var(--transparency));
    padding: 2em 0;

    display: flex;
    justify-content: center;

    a,
    .link {
        color: var(--fg);
        cursor: pointer;

        &:hover {
            color: var(--accent-light);

            svg {
                fill: var(--accent-light);
            }
        }
    }

    &:has(#theme_dark:checked) {
        #dark {
            cursor: default;

            svg {
                fill: var(--accent);
            }
        }
    }

    &:has(#theme_system:checked) {
        #system {
            cursor: default;

            svg {
                fill: var(--accent);
            }
        }
    }

    &:has(#theme_light:checked) {
        #light {
            cursor: default;

            svg {
                fill: var(--accent);
            }
        }
    }

    multi-state-button {
        position: relative;
        top: 10%;
    }
}

site-footer {
    padding-bottom: 3em;
    padding-top: 3em;
    background-color: color-mix(in srgb, var(--bg), var(--fg) 25%);

    footer {
        width: var(--outer-width);
        margin: auto;
    }
}