.detail-timeline {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.detail-timeline-items {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto 1fr;
    position: relative;
    flex-direction: column;

    &::after,
    &::before {
        content: "";
        position: absolute;
        translate: -50% 0;
    }

    &::after {
        left: 50%;
        right: 50%;
        bottom: 0;
        height: 1rem;
        width: 5ch;
        background-color: blue;
    }

    &::before {
        inset: 0 50%;
        width: 0;
        height: auto;
        border: 1px solid red;
    }
}

.detail-timeline-item {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: min-content min-content;
    grid-column: 1 / -1;
    justify-content: center;
    align-items: center;

    .dt-item-title {
        grid-column: 1;
        grid-row: 1;
    }

    .dt-button {
        grid-column: 2;
        grid-row: 1;
    }

    .dt-year {
        grid-column: 3;
        grid-row: 1;
    }

    .dt-content {
        grid-column: 1;
        grid-row: 2;
    }
}