.project-card {
    display: block;
    position: relative;
    /* FIXME: container with subgrid on Chromium
     * being a container breaks in chromium
     * as it seams containers can't be subgrid there?
    */
    /* container: ProjectCardContainer / inline-size; */
    border-radius: var(--border-r);
    overflow: hidden;
    /* border: 1px solid var(--fg); */
    --row-span: 5;
    --col-span: 3;
    display: grid;
    box-shadow: var(--shadow-default);

    @media (hover: hover) and (prefers-reduced-motion: no-preference) {
        transition: translate 0.25s var(--spring-ease),
            box-shadow 0.25s var(--spring-ease);

        &:hover {
            translate: 0 -0.5rem;
            box-shadow: var(--shadow-hover);
        }

        &:active {
            translate: 0 0.5rem;
            box-shadow: var(--shadow-active);
        }
    }
}

.project-card[in-grid="true"] {
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: span var(--col-span);
    grid-row: span var(--row-span);
}

.project-card[in-grid="false"],
.project-card:not([in-grid="true"]) {
    grid-template-columns: repeat(var(--col-span), 1fr);
    grid-template-rows: repeat(var(--row-span), auto);
}

.pjc-grid {
    height: auto;
    width: auto;
    display: grid;
    --padding: 1rem;
    column-gap: var(--padding);
    row-gap: 0;
    grid-template-rows: subgrid;
    grid-template-columns: 0 1fr 0;
    grid-template-areas:
        "Img Img Img"
        ". Title ."
        ". Category ."
        ". Text .";
    background-color: var(--light);
    color: var(--dark);

    grid-column: span var(--col-span);
    grid-row: span var(--row-span);

    &[reactive-color="true"] {
        background-color: light-dark(var(--bg),var(--bg-2));
        color: var(--fg);
    }

    picture {
        grid-area: Img;
        max-height: 40vh;
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding-bottom: var(--padding);

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    h4 {
        grid-area: Category;
    }

    h3 {
        grid-area: Title;
    }

    p {
        grid-area: Text;
        padding-bottom: var(--padding);
    }
}