:has(>#GeneralInfo) {
    container: GenInfoCont / inline-size;
}

#GeneralInfo {
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
        "Graphic ."
        "Graphic Heading"
        "Graphic Table"
        "Graphic ."
        "Graphic Content"
        "Graphic .";
    grid-template-rows: min-content auto;
    grid-template-columns: 1fr 1fr;
}

#TlDrTable {
    grid-area: Table;
    width: fit-content;
    height: fit-content;
}

#TlDrTable {
    caption-side: bottom;
    border-collapse: collapse;
    border-radius: var(--border-r);
    /* border: 1px solid rgba(0, 0, 0, 0.1); */

    tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        border-bottom: 1px solid rgb(from var(--fg) r g b / 0.25);
    }

    th {
        font-weight: 700;
    }

    > :not(caption)>*>th {
        padding: .5rem .5rem;
        text-align: start;
    }

    > :not(caption)>*>td {
        padding: .5rem .5rem;
        text-align: start;
    }
}

#Graphic {
    grid-area: Graphic;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    border-radius: var(--border-r);
    width: 100%;
    height: 100%;

    >* {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#IntroContent {
    grid-area: Content;
    height: 100%;
    columns: 60ch;
}

#IntroTitle {
    grid-area: Heading;
}

@container GenInfoCont (width < 200ch) {
    #GeneralInfo {
        display: grid;
        grid-template-areas:
            "Graphic ."
            "Graphic Heading"
            "Graphic Table"
            "Graphic ."
            "Content Content";
        grid-template-rows: min-content auto auto min-content;
    }

    #TlDrTable {
        margin: revert;
    }
}

@container GenInfoCont (width < 107ch) {
    #GeneralInfo {
        display: grid;
        grid-template-areas:
            "Heading"
            "Graphic"
            "Table"
            "Content";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #TlDrTable {
        margin: revert;
    }
}