.scroll-img {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), auto);
    width: calc(100% * var(--columns));
    will-change: transform;
    /* animation: var(--duration, 50s) linear 0s infinite running scroll; */
    z-index: -2;
    contain: auto;

    picture {
        display: block;

        img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
    }
}
