:root {
    --blue: #a6daed;
    --white: #e8f8f8;
    --purple: #dad6ff;
}

body {
    background-color: var(--light);
}

main {
    background:
        linear-gradient(217deg, var(--blue), transparent 70%),
        linear-gradient(127deg, var(--white), transparent 70%),
        linear-gradient(336deg, var(--purple), transparent 70%);
    color: var(--dark);
}

.heading-img {
    color: var(--dark);
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    margin: 2rem 0 10rem 0;
    height: 80vh;
    overflow: hidden;

    > :not(img) {
        width: 80dvw;
        margin-top: 2em;
    }
}

.title-wrapper {
    display: grid;
    gap: 2ch;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: center;
}

section {
    max-width: var(--outer-width);
    margin: 2rem auto;
}

.ThreeD.Text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    min-height: 80dvh;

    @media screen and (width < 1150px) {
        grid-template-columns: 1fr;
    }

    img {
        height: 70dvh;
    }

    canvas {
        max-height: 70dvh;
    }
}

canvas, phone-image {
    width: 100%;
    max-height: 100%;
    aspect-ratio: 16 / 13;
    grid-column: span 2;
}