/* canvas {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
} */

#StartAnimation {
    border-radius: 50%;
    padding: 1ch;

    svg {
        fill: var(--light);
    }
}

div:has(>#GeneralInfo) {
    container: GenInfoCont / inline-size;
}

#GeneralInfo {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "Video Table"
        "Video Content";
}

#TlDrTable {
    grid-area: Table;
    width: fit-content;
}

#Video {
    grid-area: Video;
    min-width: 60ch;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    border-radius: var(--border-r);
}

#Content {
    grid-area: Content;
    min-width: 60ch;
}

@container GenInfoCont (width < 175ch) {
    #GeneralInfo {
        display: grid;
        grid-template-areas:
            "Video Table"
            "Content Content";
    }

    #TlDrTable {
        margin: auto;
    }
}

.part-sect {
    height: min-content;
}

phone-img,
#InfoCanvas {
    max-height: 70dvh;
}

#InfoCanvas {
    height: 100%;
    width: 100%;
    margin-inline: auto;
}

video {
    max-height: 60dvh;
    margin-inline: auto;
}

.star {
    min-width: 0;
    --inset: 2ch;
    margin-top: 1em;

    li {
        margin-inline-start: var(--inset);
    }

    li::before {
        content: "*";
        margin-inline-start: calc(-1 * var(--inset));
    }
}