canvas {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
}

#StartAnimation {
    border-radius: 50%;
    padding: 1ch;

    svg {
        fill: var(--light);
    }
}

phone-img,
#InfoCanvas {
    max-height: 70dvh;
}

video {
    max-height: 60dvh;
    margin-inline: auto;
}

.star {
    min-width: 0;
    --inset: 2ch;
    margin-top: 1em;

    li {
        margin-inline-start: var(--inset);
    }

    li::before {
        content: "*";
        margin-inline-start: calc(-1 * var(--inset));
    }
}