#Graphic {
    max-height: 40vh;
    display: flex;

    >* {
        min-width: 3ch;
    }
}

@container GenInfoCont (width < 175ch) {
    #GeneralInfo {
        display: grid;
        grid-template-areas:
            "Graphic Table"
            "Content Content";
    }

    #TlDrTable {
        margin: auto;
    }
}

@container GenInfoCont (width < 107ch) {
    #GeneralInfo {
        display: grid;
        grid-template-areas:
            "Graphic"
            "Table"
            "Content";
    }

    #TlDrTable {
        margin: revert;
    }
}

#Code {
    container: Code / inline-size;
}

#CodeLayout {
    display: grid;
    gap: 1ch;
    grid-template-areas:
        "GameStateText GameStateText ButtonText ButtonText"
        "TetrinoText TetrinoText ButtonText ButtonText"
        "GameStateCode GameStateCode ButtonsCode TetPosCode"
        "GameStateCode GameStateCode PosRotCode TetrinoCode"
        "TetArrayMetaBlock TetArrayMetaBlock TetArrayMetaBlock TetArrayMetaBlock";
}

#GameStateText {
    grid-area: GameStateText;
}

#TetrinoText {
    grid-area: TetrinoText;
}

#ButtonText {
    grid-area: ButtonText;
}

#GameStateCode {
    grid-area: GameStateCode;
}

#ButtonsCode {
    grid-area: ButtonsCode;
}

#PosRotCode {
    grid-area: PosRotCode;
}

#TetPosCode {
    grid-area: TetPosCode;
}

#TetrinoCode {
    grid-area: TetrinoCode;
}

#TetArrayMetaBlock {
    grid-area: TetArrayMetaBlock;
    container: TetMetaBox / inline-size;
    height: 100%;
    width: 100%;

    >* {
        height: 100%;
        width: 100%;
    }

    :first-child {
        display: none;

        @container TetMetaBox (width < 70ch) {
            display: block;
        }
    }

    :last-child {
        display: block;

        @container TetMetaBox (width < 70ch) {
            display: none;
        }
    }
}

@container Code (width<135ch) {
    #CodeLayout {
        display: grid;
        gap: 1ch;
        grid-template-areas:
            "GameStateText ButtonText"
            "GameStateCode ButtonsCode"
            "GameStateCode PosRotCode"
            "TetrinoText TetrinoText"
            "TetrinoCode TetPosCode"
            "TetArrayMetaBlock TetArrayMetaBlock"
        ;
    }
}

@container Code (width<90ch) {
    #CodeLayout {
        display: grid;
        gap: 1ch;
        grid-template-areas:
            "GameStateText GameStateText"
            "GameStateCode GameStateCode"
            "ButtonText ButtonText"
            "ButtonsCode PosRotCode"
            "TetrinoText TetrinoText"
            "TetrinoCode TetPosCode"
            "TetArrayMetaBlock TetArrayMetaBlock"
        ;
    }
}

@container Code (width<69ch) {
    #CodeLayout {
        display: grid;
        gap: 1ch;
        grid-template-areas:
            "GameStateText"
            "GameStateCode"
            "ButtonText"
            "ButtonsCode"
            "TetrinoText"
            "TetPosCode"
            "TetrinoCode"
            "TetArrayMetaBlock"
            "PosRotCode"
        ;
    }
}

#BagVisualisation {
    display: grid;
    gap: 1ch;
    grid-template-areas:
        "TetBagText"
        "TetBagCode"
        "Dia"
    ;
}

#TetBagText {
    grid-area: TetBagText;
}

#TetrinoDiagram {
    grid-area: Dia;
    margin: 0;
    container: DiagramCon / inline-size;

    .vertical {
        max-width: 35ch !important;
        margin: auto;
    }
}

@container DiagramCon (width < 100ch) {
    .diagram-container .horizontal {
        display: none;
    }
}

@container DiagramCon (width >=100ch) {
    .diagram-container .vertical {
        display: none;
    }
}

#TetBagCode {
    grid-area: TetBagCode;
    container: TetBagMetaBox / inline-size;

    >* {
        height: 100%;
        width: 100%;
    }

}

@container TetBagMetaBox (width >=65ch) {
    #TetBagCode> :nth-child(1) {
        display: none;
    }

    #TetBagCode> :nth-child(2) {
        display: none;
    }

    #TetBagCode> :nth-child(3) {
        display: block;
    }
}

@container TetBagMetaBox (width < 65ch) {
    #TetBagCode> :nth-child(1) {
        display: none;
    }

    #TetBagCode> :nth-child(2) {
        display: block;
    }

    #TetBagCode> :nth-child(3) {
        display: none;
    }
}

@container TetBagMetaBox (width < 48ch) {
    #TetBagCode> :nth-child(1) {
        display: block;
    }

    #TetBagCode> :nth-child(2) {
        display: none;
    }

    #TetBagCode> :nth-child(3) {
        display: none;
    }
}

@container Code (width>128ch) {
    #BagVisualisation {
        grid-template-areas:
            "TetBagText Dia"
            "TetBagCode Dia"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
    }
}

@container Code (width>25ch) {
    #BagVisualisation {
        grid-template-areas:
            "TetBagText"
            "TetBagCode"
            "Dia"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}

@container Code (width<105ch) {
    #BagVisualisation {
        grid-template-areas:
            "TetBagText Dia"
            "TetBagCode Dia"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
    }
}

@container Code (width<69ch) {

    /* @container Code (width<80ch) { */
    #BagVisualisation {
        grid-template-areas:
            "TetBagText"
            "TetBagCode"
            "Dia"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}

#HardwareImgGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50ch, 1fr));
    gap: 1rem;
}

#EinzelteileGrid {
    display: grid;
    grid-template-areas:
        "Img";
    grid-template-columns: 1fr;

    img {
        max-height: 60vh;
        width: auto;
    }
}

#EinzelteileText {
    grid-area: Text;
    display: none;
}

#EinzelteileWrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    grid-area: Img;
    place-self: center;
    --pop-top: 50%;
    --pop-left: 50%;
    --pop-pre-translate: translate(-50%, -50%);
    --pop-translate: translate(calc(-100% - 1em), calc(-100% - 0.25em));

    .marker {
        position: absolute;
        inset: 0;
        width: auto;
        height: auto;
        border-radius: var(--border-r);

        /* outline: 1px solid red; */

        tool-tip {
            width: 100%;
            height: 100%;
        }
    }

    .accent-point {
        position: absolute;
        left: var(--pop-left);
        top: var(--pop-top);
        translate: -50% -50%;
    }

    #UnoR4 {
        inset: 50% 75% 25% 4%;
    }

    #UnoR3 {
        inset: 66% 40% 15% 40%;
        z-index: 2;
    }

    #Matrix {
        inset: 25% 50% 50% 22%;
        z-index: 2;

        --pop-top: 40%;
    }

    #Resistors {
        inset: 6% 1% 27% 50%;

        --pop-top: 20%;
        --pop-left: 25%;
    }

    #Extras {
        inset: 2% 47% 67% 10%;
    }

    #Breadboard {
        inset: 57% 48% 28% 35%;

        --pop-top: 40%
    }
}

div:has(#EinzelteileGrid) {
    container: EinzelteileCon / inline-size;
}

@container EinzelteileCon (width < 110ch) {
    #EinzelteileGrid {
        grid-template-columns: auto;
        grid-template-areas:
            "Text"
            "Img";
    }

    #EinzelteileWrapper {
        place-self: center;
    }

    #EinzelteileText {
        display: block;
    }
}

#Run {
    container: RunContainer / inline-size;

    #RunGrid {
        gap: 4ch;
        display: grid;
        margin: auto;
        max-width: fit-content;
        /* grid-template-columns: repeat(auto-fill, clamp(30ch,1fr,80ch)); */
        grid-template-columns: 1fr 1fr;
    }

    #ArduinoCard,
    #PCCard {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 6;
        padding: 4rem 3rem;
        border-radius: var(--border-r);
        border: 1px solid black;
        box-shadow: 0.25rem 0.25rem var(--blur-r) 0 rgb(from var(--fg) r g b / 0.15);

        .heading {
            margin-inline: auto;
        }

        .underline.hover {
            height: 0.25em;
        }

        .vert-sep {
            margin-top: 2em;
            margin-bottom: -1em;

            &::before {
                display: inline-block;
                position: relative;
                content: "";
                background-color: var(--accent);
                width: 0.5ch;
                height: 1.5em;
                border-radius: 0.25ch;
                margin-inline-end: 1ch;
                transform: translateY(25%);
            }
        }

        ul,
        ol {
            margin-inline-start: 3ch;
        }
        li{
            margin-block: 0.5rem;
        }
    }
}

@container RunContainer (width < 140ch) {
    #Run {
        #RunGrid {
            grid-template-columns: 1fr;
        }
    }
}