#Graphic {
    max-height: 40vh;
    display: flex;

    >* {
        min-width: 3ch;
    }
}

@container GenInfoCont (width < 175ch) {
    #GeneralInfo {
        display: grid;
        grid-template-areas:
            "Graphic Table"
            "Content Content";
    }

    #TlDrTable {
        margin: auto;
    }
}

@container GenInfoCont (width < 107ch) {
    #GeneralInfo {
        display: grid;
        grid-template-areas:
            "Graphic"
            "Table"
            "Content";
    }

    #TlDrTable {
        margin: revert;
    }
}

#Code {
    container: Code / inline-size;
}

#CodeLayout {
    display: grid;
    gap: 1ch;
    grid-template-areas:
        "GameStateText GameStateText ButtonText ButtonText"
        "TetrinoText TetrinoText ButtonText ButtonText"
        "GameStateCode GameStateCode ButtonsCode TetPosCode"
        "GameStateCode GameStateCode PosRotCode TetrinoCode"
        "TetArrayMetaBlock TetArrayMetaBlock TetArrayMetaBlock TetArrayMetaBlock";
}

#GameStateText {
    grid-area: GameStateText;
}

#TetrinoText {
    grid-area: TetrinoText;
}

#ButtonText {
    grid-area: ButtonText;
}

#GameStateCode {
    grid-area: GameStateCode;
}

#ButtonsCode {
    grid-area: ButtonsCode;
}

#PosRotCode {
    grid-area: PosRotCode;
}

#TetPosCode {
    grid-area: TetPosCode;
}

#TetrinoCode {
    grid-area: TetrinoCode;
}

#TetArrayMetaBlock {
    grid-area: TetArrayMetaBlock;
    container: meta-box / inline-size;
    height: 100%;
    width: 100%;

    >* {
        height: 100%;
        width: 100%;
    }

    :first-child {
        display: none;

        @container meta-box (width < 70ch) {
            display: block;
        }
    }

    :last-child {
        display: block;

        @container meta-box (width < 70ch) {
            display: none;
        }
    }
}

@container Code (width<135ch) {
    #CodeLayout {
        display: grid;
        gap: 1ch;
        grid-template-areas:
            "GameStateText ButtonText"
            "GameStateCode ButtonsCode"
            "GameStateCode PosRotCode"
            "TetrinoText TetrinoText"
            "TetrinoCode TetPosCode"
            "TetArrayMetaBlock TetArrayMetaBlock"
        ;
    }
}
@container Code (width<90ch) {
    #CodeLayout {
        display: grid;
        gap: 1ch;
        grid-template-areas:
            "GameStateText GameStateText"
            "GameStateCode GameStateCode"
            "ButtonText ButtonText"
            "ButtonsCode PosRotCode"
            "TetrinoText TetrinoText"
            "TetrinoCode TetPosCode"
            "TetArrayMetaBlock TetArrayMetaBlock"
        ;
    }
}
@container Code (width<69ch) {
    #CodeLayout {
        display: grid;
        gap: 1ch;
        grid-template-areas:
            "GameStateText"
            "GameStateCode"
            "ButtonText"
            "ButtonsCode"
            "TetrinoText"
            "TetPosCode"
            "TetrinoCode"
            "TetArrayMetaBlock"
            "PosRotCode"
        ;
    }
}

.diagram-container {
    container: DiagramCon / inline-size;
}

@container DiagramCon (width < 110ch) {
    .diagram-container .horizontal {
        display: none;
    }
}

@container DiagramCon (width >=110ch) {
    .diagram-container .vertical {
        display: none;
    }
}

#EinzelteileGrid {
    display: grid;
    grid-template-areas:
        "Img";
    grid-template-columns: 1fr;

    img {
        max-height: 60vh;
        width: auto;
    }
}

#EinzelteileText {
    grid-area: Text;
    display: none;
}

#EinzelteileWrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    grid-area: Img;
    place-self: center;

    .marker {
        position: absolute;
        inset: 0;
        width: auto;
        height: auto;
        border-radius: var(--border-r);

        /* outline: 1px solid red; */

        tool-tip {
            width: 100%;
            height: 100%;
        }
    }

    #UnoR4 {
        inset: 50% 75% 25% 4%;
    }

    #UnoR3 {
        inset: 66% 40% 15% 40%;
        z-index: 2;
    }

    #Matrix {
        inset: 25% 50% 50% 22%;
        z-index: 2;
    }

    #Resistors {
        inset: 6% 1% 27% 50%;
    }

    #Extras {
        inset: 2% 47% 67% 10%;
    }

    #Breadboard {
        inset: 57% 48% 28% 35%;
    }
}

div:has(#EinzelteileGrid) {
    container: EinzelteileCon / inline-size;
}

@container EinzelteileCon (width < 110ch) {
    #EinzelteileGrid {
        grid-template-columns: auto;
        grid-template-areas:
            "Text"
            "Img";
    }

    #EinzelteileWrapper {
        place-self: center;
    }

    #EinzelteileText {
        display: block;
    }
}