canvas {
    width: 100%;
    height: 70dvh;
}

#TetArrayMetaBlock {
    container: meta-box / inline-size;

    :first-child {
        display: none;

        @container meta-box (width < 70ch) {
            display: block;
        }
    }

    :last-child {
        display: block;

        @container meta-box (width < 70ch) {
            display: none;
        }
    }
}

@container GenInfoCont (width < 175ch) {
    #GeneralInfo {
        display: grid;
        grid-template-areas:
            "Graphic Table"
            "Content Content";
    }

    #TlDrTable {
        margin: auto;
    }
}

@container GenInfoCont (width < 107ch) {
    #GeneralInfo {
        display: grid;
        grid-template-areas:
            "Graphic"
            "Table"
            "Content";
    }

    #TlDrTable {
        margin: revert;
    }
}

.diagram-container{
    container: DiagramCon / inline-size;
}
@container DiagramCon (width < 110ch){
    .diagram-container .horizontal {
        display: none;
    }
}
@container DiagramCon (width >= 110ch){
    .diagram-container .vertical {
        display: none;
    }
}