@layer reset, helpers;

/********************************
 *                              *
 *            Reset             *
 *                              *
 *******************************/
/* #region Reset */
/* adapted from https://www.joshwcomeau.com/css/custom-css-reset/?from=newsletter*/
@layer reset {

    /* 1. Use a more-intuitive box-sizing model */
    :where(*),
    :where(*)::after,
    :where(*)::before {
        box-sizing: border-box;
        /* 7. Inherit fonts for example form controls */
        font: inherit;
        scroll-behavior: smooth;
        accent-color: var(--accent);
    }

    :where(sub, sup) {
        font-size: revert;
    }

    :where(*) {
        /* 2. Remove default margin */
        margin: 0;
        padding: 0;
        color: inherit;
    }

    :where(ol,
        ul,
        li) {
        list-style: none;
    }

    :where(:focus-visible) {
        outline: none;
        outline: 0.15rem solid rgb(from var(--accent) r g b / 0.5);
    }

    /* 3. Enable keyword animations */
    @media (prefers-reduced-motion: no-preference) {
        :where(html) {
            interpolate-size: allow-keywords;
        }

        :where(*),
        :where(*)::after,
        :where(*)::before {
            transition:
                background-color var(--transition-time, 0.2s) ease-in-out,
                box-shadow var(--transition-time, 0.2s) ease-in-out,
                color var(--transition-time, 0.2s) ease-in-out,
                fill var(--transition-time, 0.2s) ease-in-out,
                filter var(--transition-time, 0.2s) ease-in-out,
                height var(--transition-time, 0.2s) ease-in-out,
                opacity var(--transition-time, 0.2s) ease-in-out,
                stroke var(--transition-time, 0.2s) ease-in-out,
                transform var(--transition-time, 0.2s) ease-in-out,
                translate var(--transition-time, 0.2s) ease-in-out,
                width var(--transition-time, 0.2s) ease-in-out;
            transition-behavior: allow-discrete;
            interpolate-size: allow-keywords;
        }
    }

    :where(body) {
        /* 4. Add accessible line-height */
        line-height: 1.5;
        /* 5. Improve text rendering */
        -webkit-font-smoothing: antialiased;
        min-height: 100dvh;
        color: var(--fg);
        background-color: var(--bg);
        display: flex;
        flex-direction: column;
    }

    /* 6. Improve media defaults */
    :where(img,
        picture,
        video,
        canvas,
        svg) {
        display: block;
        max-width: 100%;
        -webkit-user-drag: none;
        /* user-drag: none; */
    }

    :where(img) {
        object-fit: cover;
    }

    :where(button) {
        border: none;
    }

    /* 8. Avoid text overflows */
    :where(a,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6) {
        overflow-wrap: break-word;
        text-decoration: none;
    }

    /* 9. Improve line wrapping */
    :where(a,
        p) {
        text-wrap: stable;
        text-wrap: pretty;
    }

    :where(h1,
        h2,
        h3,
        h4,
        h5,
        h6) {
        text-wrap: balance;
    }

    :where(select) {
        background-color: rgba(from var(--bg) r g b / 0);
        border: none;
        outline: none;
        color: var(--fg);
        cursor: pointer;
        font-size: 1rem;
    }

    :where(svg) {
        fill: var(--fg);

        /* stroke: var(--fg); */
        &:hover,
        &.hover {
            fill: var(--accent-2);
        }
    }

    :where(svg.stroke) {
        /* fill: var(--fg); */

        stroke: var(--fg);

        &:hover,
        &.hover {
            stroke: var(--accent-2);
        }
    }

    :where(option) {
        outline: none;
        border: none;
        background-color: var(--bg);
        color: var(--fg);
    }

    /*
  10. Create a root stacking context
*/
    :where(#root,
        #__next) {
        isolation: isolate;
    }

    /* Für Geräte mit Maus (z. B. Desktop) */
    @media (hover: hover) and (pointer: fine) {

        :where(.desktop,
            .desktop *) {
            visibility: unset;
            position: unset;
        }

        :where(.mobile,
            .mobile *) {
            visibility: hidden;
            position: absolute;
        }
    }

    /* Für Touch-Geräte (z. B. Smartphones/Tablets) */
    @media (hover: none) and (pointer: coarse) {

        :where(.desktop,
            .desktop *) {
            visibility: hidden;
            position: absolute;
        }

        :where(.mobile,
            .mobile *) {
            visibility: unset;
            position: unset;
        }
    }

    @media screen {

        :where(.print,
            .print *) {
            visibility: hidden;
            position: absolute;
        }

        :where(.no_print,
            .no_print *) {
            visibility: unset;
            position: unset;
        }
    }

    @media print {

        :where(.print,
            .print *) {
            visibility: unset;
            position: unset;
        }

        :where(.no_print,
            .no_print *) {
            visibility: hidden;
            position: absolute;
        }
    }
}

/* #endregion Reset */

/* #region Helpers */
@layer helpers {

    /* Old */
    /* :where(.accent-background) {
        background: linear-gradient(135deg,
                var(--accent-dark),
                var(--accent),
                var(--accent-light));
        color: var(--white);
        padding: 4rem 2rem;
    } */
    :where(.accent-background) {
        position: relative;

        color: var(--white);
        z-index: 2;
        overflow: hidden;

        --op-min: 0.05;
        --op-max: 0.15;
        --base-scale: 75%;
        --blur: 0.75rem;

        &::before {
            position: absolute;
            z-index: -1;
            content: "";
            background: url("./assets/noise/blobs.svg");
            mix-blend-mode: soft-light;
            inset: 0;
            width: auto;
            height: auto;
            opacity: 0.1;
            /* -webkit-backdrop-filter: blur(var(--blur-r));
            backdrop-filter: blur(var(--blur-r)); */
            filter: blur(var(--blur));
            animation: float-gently 30s infinite ease-in-out;
            animation: move-randomly 30s infinite ease-in-out;
            display: inline-block;
            background-size: var(--base-scale);
        }

        &::after {
            position: absolute;
            z-index: -2;
            content: "";
            background:
                /* Layer 1: Radial highlight */
                radial-gradient(circle at top left,
                    hsla(from var(--accent) h s calc(l + 20) / 0.3) 0%,
                    transparent 60%),

                /* Layer 2: Subtle noise texture overlay Diagonales raster */
                url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill='none' stroke='%23ffffff15' stroke-width='0.5'%3E%3Cpath d='M0 0 L40 40' /%3E%3Cpath d='M40 0 L0 40' /%3E%3C/g%3E%3C/svg%3E"),
                /* url("./assets/noise/blobs.svg") repeat, */

                /* Layer 3: Diagonal linear gradient with depth */
                linear-gradient(135deg,
                    var(--accent-dark) 0%,
                    var(--accent) 50%,
                    var(--accent-light) 100%);

            background-blend-mode: overlay, overlay, normal;
            inset: 0;
            width: auto;
            height: auto;
        }
    }

    @keyframes move-randomly {
        0% {
            transform: translate(0%, 0%) scale(1);
            opacity: var(--op-max);
        }

        20% {
            transform: translate(5%, -5%) scale(calc(1 * 1.05));
            opacity: calc((var(--op-min) + var(--op-max)) / 2);
        }

        40% {
            transform: translate(-7%, 4%) scale(calc(1 * 0.95));
            opacity: var(--op-min);
        }

        60% {
            transform: translate(6%, 6%) scale(calc(1 * 1.1));
            opacity: var(--op-max);
        }

        80% {
            transform: translate(-4%, -3%) scale(calc(1 * 0.9));
            opacity: calc((var(--op-min) + var(--op-max)) / 2);
        }

        100% {
            transform: translate(0%, 0%) scale(1);
            opacity: var(--op-max);
        }
    }

    @keyframes float-gently {
        0% {
            transform: translate(0%, 0%) scale(1) rotate(0deg);
            opacity: var(--op-max);
        }

        20% {
            transform: translate(1.5%, -1.5%) scale(calc(1 * 1.015)) rotate(1deg);
            opacity: calc((var(--op-min) + var(--op-max)) / 1.7);
        }

        40% {
            transform: translate(-2%, 1%) scale(calc(1 * 0.99)) rotate(-1deg);
            opacity: var(--op-min);
        }

        60% {
            transform: translate(1.2%, 2%) scale(calc(1 * 1.02)) rotate(1.5deg);
            opacity: calc((var(--op-min) + var(--op-max)) / 1.6);
        }

        80% {
            transform: translate(-1%, -1%) scale(1) rotate(-0.5deg);
            opacity: calc((var(--op-min) + var(--op-max)) / 1.5);
        }

        100% {
            transform: translate(0%, 0%) scale(1) rotate(0deg);
            opacity: var(--op-max);
        }
    }

    :where(.accent-text) {
        color: var(--accent);
    }

    :where(.accent-2-text) {
        color: var(--accent-2);
    }

    :where(.block) {
        display: block;
    }

    :where(.btn) {
        display: inline-block;

        position: relative;
        isolation: isolate;
        z-index: 1;

        padding: 0.85em 5ch;
        font-family: "JetBrains Mono", var(--backup-fonts);
        cursor: pointer;

        border-radius: var(--border-r);

        &:where(.accent-btn) {
            background-color: var(--accent);
            color: var(--white);

            @media (hover: hover) {
                &:hover {
                    background-color: var(--accent-2);
                }
            }
        }

        &:where(.secondary-btn) {
            background-color: var(--white);
            color: var(--accent);
        }

        &:where(.shadow)::after {
            content: "";
            border-radius: inherit;
            background-color: var(--black);
            filter: blur(0.25rem);

            display: block;
            position: absolute;
            z-index: -1;
            inset: -0.2rem;

            pointer-events: none;

            opacity: calc(1 - var(--transparency));
            transform: translate(0.25rem, 0.35rem);

            transition: inherit;
        }

        @media (prefers-reduced-motion: no-preference) {
            transition: transform 0.25s var(--spring-ease),
                translate 0.25s var(--spring-ease);

            @media (hover: hover) {
                &:hover {
                    translate: 0 -10%;

                    &:where(.shadow)::after {
                        transform: translate(calc(0.5rem), calc(0.25rem + 2 * 0.5rem)) scale(1.01);
                        opacity: 0.2;
                    }
                }

                &:active {
                    translate: 0 10%;

                    &:where(.shadow)::after {
                        transform: translate(0, 0);
                        opacity: 0.2;
                    }
                }
            }
        }
    }

    :where(.content) {
        padding-inline: var(--padding-inline);
    }

    :where(.grow) {
        flex-grow: 1;
    }

    :where(.link) {
        text-decoration: none;
        /* padding: 0.1em; */
        color: var(--fg);
        cursor: pointer;

        /* IMPORTANT: Keep in sync with &:hover */
        &:where(.link-active) {
            color: var(--accent-2);
            fill: var(--accent-2);

            :where(svg) {
                fill: var(--accent-2);
            }
        }

        /* IMPORTANT: Keep in sync with &.link-active */
        @media (hover: hover) {
            &:hover {
                color: var(--accent-2);
                fill: var(--accent-2);

                :where(svg) {
                    fill: var(--accent-2);
                }
            }
        }
    }

    :where(.shadow:not(.btn)) {
        box-shadow: var(--shadow-default);


        @media (prefers-reduced-motion: no-preference) {
            transition: box-shadow 0.25s var(--spring-ease);
        }

        @media (hover: hover) and (prefers-reduced-motion: no-preference) {
            &:hover {
                box-shadow: var(--shadow-hover);
            }

            &:active {
                box-shadow: var(--shadow-active);
            }
        }
    }

    :where(.underline) {
        --transition-time: 400ms;

        background:
            /* default */
            linear-gradient(to right, rgb(from var(--bg) r g b / 0), rgb(from var(--bg) r g b / 0)),
            /* hover */
            linear-gradient(to right, var(--accent), var(--accent-2), var(--accent));

        background-size: 100% 0.1em, 0 0.1em;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size var(--transition-time);

        /* IMPORTANT: Keep in sync with &:hover, &:focus-visible */
        &:where(.underline-active) {
            background-size: 0 0.1em, 100% 0.1em;
        }

        /* IMPORTANT: Keep in sync with &.underline-active */
        @media (hover: hover) {

            &:hover,
            &:focus-visible {
                background-size: 0 0.1em, 100% 0.1em;
            }
        }
    }

    :where(.visually-hidden) {
        clip: rect(0, 0, 0, 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
        pointer-events: none;

        * {
            pointer-events: none;
        }
    }
}

/* #endregion Helpers */

/********************************
*                              *
*            fonts             *
*                              *
*******************************/
/* #region fonts */

@font-face {
    font-family: "JetBrains Mono";
    src: local("JetBrains Mono"), url("./assets/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url("./assets/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
    font-display: swap;
}

/* #region Font Size Helper Classes */
.fs-tiny.fs-tiny,
.label-small {
    font-size: var(--fs-tiny);
}

.fs-smallest.fs-smallest,
.caption {
    font-size: var(--fs-smallest);
}

.fs-small.fs-small,
.ui-small {
    font-size: var(--fs-small);
}

.fs-normal.fs-normal,
.body {
    font-size: var(--fs-normal);
}

.fs-medium.fs-medium,
.body-strong {
    font-size: var(--fs-medium);
}

.fs-large.fs-large,
.subhead {
    font-size: var(--fs-large);
}

.fs-gigantic.fs-gigantic,
.heading {
    font-size: var(--fs-gigantic);
}

.fs-mega.fs-mega,
.hero {
    font-size: var(--fs-mega);
}

/* #endregion */

/* #region Font Weight Helper Classes */
.fw-thin.fw-thin {
    font-weight: var(--fw-thin);
}

.fw-normal.fw-normal,
.label-small,
.caption,
.body {
    font-weight: var(--fw-normal);
}

.fw-medium.fw-medium,
.ui-small,
.body-strong {
    font-weight: var(--fw-medium);
}

.fw-bold.fw-bold,
.subhead {
    font-weight: var(--fw-bold);
}

.fw-large.fw-large,
.heading {
    font-weight: var(--fw-large);
}

.fw-gigantic.fw-gigantic {
    font-weight: var(--fw-gigantic);
}

.fw-ginormous.fw-ginormous,
.hero {
    font-weight: var(--fw-ginormous);
}

/* #endregion */

/* #region Line Height Helper Classes */
.lh-tight.lh-tight,
.label-small,
.caption,
.ui-small {
    line-height: var(--lh-tight);
}

.lh-normal.lh-normal,
.body,
.body-strong {
    line-height: var(--lh-normal);
}

.lh-medium.lh-medium,
.subhead,
.heading {
    line-height: var(--lh-medium);
}

.lh-loose.lh-loose,
.hero {
    line-height: var(--lh-loose);
}

.lh-mega.lh-mega {
    line-height: var(--lh-mega);
}

/* #endregion */

/* #region Margin Block Helper Classes (für Abstand oben/unten) */
.mb-tiny.mb-tiny {
    margin-block: var(--mb-tiny);
}

.mb-small.mb-small {
    margin-block: var(--mb-small);
}

.mb-normal.mb-normal {
    margin-block: var(--mb-normal);
}

.mb-medium.mb-medium {
    margin-block: var(--mb-medium);
}

.mb-large.mb-large {
    margin-block: var(--mb-large);
}

.mb-gigantic.mb-gigantic {
    margin-block: var(--mb-gigantic);
}

.mb-mega.mb-mega {
    margin-block: var(--mb-mega);
}

/* #endregion */
/* #endregion fonts */

:root {
    --white: hsl(0 0% 100%);
    --black: hsl(0 0% 0%);

    --dark: hsl(245 2.04% 9.61%);
    --light: hsl(245 100% 98%);

    --accent: hsl(245 48% 52%);
    --accent-light: hsl(from var(--accent) h s calc(l + 10));
    --accent-dark: hsl(from var(--accent) h s calc(l - 10));
    --accent-2: light-dark(var(--accent-dark), var(--accent-light));

    --bg: light-dark(var(--light), var(--dark));
    --bg-2: light-dark(hsl(from var(--bg) h s calc(l - 5)),
            hsl(from var(--bg) h s calc(l + 5)));
    --bg-popup: light-dark(hsl(from var(--bg) h s calc(l - 10)),
            hsl(from var(--bg) h s calc(l + 10)));

    --text-field-bg: light-dark(hsl(from var(--bg) h s calc(l - 5)),
            hsl(from var(--bg) h s calc(l + 5)));
    --fg: light-dark(var(--dark), var(--light));
    --fg-2: light-dark(hsl(from var(--fg) h s calc(l + 15)),
            hsl(from var(--fg) h s calc(l - 15)));

    --button: light-dark(hsl(from var(--bg) h s calc(l - 15)),
            hsl(from var(--bg) h s calc(l + 15)));
    --link: hsl(from light-dark(var(--accent-dark), var(--accent-light)) calc(h - 5) s calc(l + 10));
    --stroke: var(--bg);

    --padding-inline: max(3ch, 12dvw);
    /* --padding-inline: clamp(3ch, 10dvw, 20ch); */
    --border-r: 1rem;
    --blur-r: 5px;
    --transparency: 0.75;
    --shadow-default: 0.25rem 0.5rem 5px hsl(from var(--black) h s l / 0.15);
    --shadow-hover: calc(0.25rem + var(--x-shift, 0.25rem)) calc(0.5rem + var(--y-shift, 0.75rem)) 5px hsl(from var(--black) h s l / 0.15);
    --shadow-active: 0rem 0rem 5px hsl(from var(--black) h s l / 0.15);
    --spring-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);

    --backup-fonts: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;

    /* Font Sizes – mit feiner Auflösung nach unten und oben */
    /* 10px – z. B. Tooltips, sehr kleine Labels */
    --fs-tiny: 0.625rem;
    /* 12px – z. B. Captions, Meta-Text */
    --fs-smallest: 0.75rem;
    /* 14px – z. B. UI-Text, Buttons */
    --fs-small: 0.875rem;
    /* 16px – Basisgröße */
    --fs-normal: 1rem;
    /* 18px – leicht betonter Text */
    --fs-medium: 1.125rem;
    /* 22px – Subheadings */
    --fs-large: 1.375rem;
    /* 28px – große Überschriften */
    --fs-gigantic: 1.75rem;
    /* 36px – Hero-Titel oder Seitenkopf */
    /* --fs-mega: 2.25rem; */
    /* 40px – Hero-Titel oder Seitenkopf */
    --fs-mega: 2.5rem;

    /* Font Weights */
    --fw-thin: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 600;
    --fw-large: 700;
    --fw-gigantic: 800;
    --fw-ginormous: 900;

    /* Line Heights – angepasst an kleinere Schriftgrößen */
    /* für UI und kleine Texte */
    --lh-tight: 1.2;
    /* optimal für Fließtext */
    --lh-normal: 1.5;
    --lh-medium: 1.6;
    --lh-loose: 1.8;
    --lh-mega: 2.0;

    /* Margin Block (Abstand nach oben/unten) */
    --mb-tiny: 0.5em;
    --mb-small: 0.75em;
    --mb-normal: 1em;
    --mb-medium: 1.25em;
    --mb-large: 1.5em;
    --mb-gigantic: 2em;
    --mb-mega: 2.5em;

    /* font-family: "JetBrains Mono", var(--backup-fonts); */
    font-family: "Roboto", var(--backup-fonts);
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);
    line-height: var(--lh-normal);
    color: var(--fg);
    background-color: var(--bg);

    scroll-behavior: smooth;
}

:root:has(input[type="radio"]#System:checked),
.sys {
    color-scheme: light dark;

    @media (prefers-color-scheme: light) {
        .dark-only {
            display: none !important;
        }
    }

    @media (prefers-color-scheme: dark) {
        .light-only {
            display: none !important;
        }
    }
}

:root:has(input[type="radio"]#Light:checked),
.light {
    color-scheme: only light;

    .dark-only {
        display: none !important;
    }
}

:root:has(input[type="radio"]#Dark:checked),
.dark {
    color-scheme: only dark;

    .light-only {
        display: none !important;
    }
}

:root:has(input[type="radio"]#Custom:checked),
.custom {
    color-scheme: custom;
    --bg: var(--cu-bg, var(--bg));
    --fg: var(--cu-fg, var(--fg));
}

@media print {
    :root {
        color-scheme: only light !important;
    }
}

#SiteHeader {
    display: grid;
    grid-template-areas:
        "nav extern"
        "groups groups";
    grid-template-columns: 1fr auto;

    width: 100%;
    padding-block: 1ch;
    padding-inline: var(--padding-inline);

    position: fixed;
    top: 0;
    z-index: 100;

    background-color: rgb(from var(--bg) r g b / var(--transparency));
    -webkit-backdrop-filter: blur(var(--blur-r));
    backdrop-filter: blur(var(--blur-r));
    /* border-radius: 0 0 var(--border-r) var(--border-r); */

    nav {
        grid-area: nav;
    }

    #NavLinks {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 2ch;
    }

    #Extern {
        grid-area: extern;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2ch;
    }

    #Groups {
        grid-area: groups;
        display: grid;

        >* {
            grid-row: 1;
            grid-column: 1;
        }

        .nav-group {
            display: flex;
            flex-wrap: wrap;
            opacity: 0;
            height: 0px;
            pointer-events: none;
            gap: 2ch;
        }
    }

    summary {
        user-select: none;
        cursor: pointer;
    }
}

#BurgerToggle {
    display: none;
    position: fixed;
    top: min(5rem, 5vw);
    right: min(5rem, 5vw);
    padding: 1ch;
    border-radius: calc(var(--border-r) / 1.5);
    z-index: 101;
}

@media (width<60ch) {
    #BurgerToggle {
        display: block;
    }

    :root:has(#ShowMobileNav:not(:checked)) #SiteHeader {
        transform: translateX(100%);
        opacity: 0;
    }


    :root:has(#ShowMobileNav:checked) #BurgerToggle {
        box-shadow: none;
        filter: none;
    }


    #SiteHeader {
        width: auto;
        height: auto;
        inset: 0;
        position: fixed;
        grid-template-areas:
            "."
            "extern"
            "nav"
            "groups"
            ".";
        grid-template-columns: auto;
        grid-template-rows: 1fr auto auto auto 1fr;
        font-size: var(--fs-large);

        nav {
            grid-area: nav;
        }

        #NavLinks {
            display: grid;
            align-items: center;
            gap: 2ch;
            height: auto;
            justify-content: center;
            align-items: center;
        }

        #Extern {
            height: fit-content;
            grid-area: extern;
            display: grid;
            justify-content: center;
            align-items: center;
            gap: 2ch;
        }

        #Groups {
            height: auto;
            grid-area: groups;
            display: grid;
            justify-content: center;
            align-items: center;

            >* {
                grid-row: 1;
                grid-column: 1;
            }

            .nav-group {
                display: grid;
                opacity: 0;
                height: 0px;
                pointer-events: none;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@starting-style {
    .nav-group-children {
        opacity: 0;
        height: 0;
    }
}

#ThemeSelect {
    position: relative;
    padding: 1ch 2ch;
    border-radius: var(--border-r);

    ul {
        display: grid;
        position: absolute;
    }

    &[open] {
        background-color: rgb(from var(--bg) r g b / var(--transparency));
        -webkit-backdrop-filter: blur(var(--blur-r));
        backdrop-filter: blur(var(--blur-r));
        border-radius: var(--border-r) var(--border-r) 0 0;

        ul {
            background-color: rgb(from var(--bg) r g b / var(--transparency));
            -webkit-backdrop-filter: blur(var(--blur-r));
            backdrop-filter: blur(var(--blur-r));
            align-items: center;
            width: 100%;
            left: 0;
            top: 100%;
            border-radius: 0 0 var(--border-r) var(--border-r);
            overflow: hidden;

            label {
                display: block;
                padding-inline-start: 2ch;
                padding-block: 0.5em;
                margin: 0.15em;
                border-radius: calc(var(--border-r) / 2);
                cursor: pointer;
                border: 1px solid rgb(0 0 0 / 0);

                &:last-child {
                    margin-block-end: 0.25em;
                }

                &:hover {
                    background-color: rgb(from var(--bg) r g b / var(--transparency));
                    -webkit-backdrop-filter: blur(var(--blur-r));
                    backdrop-filter: blur(var(--blur-r));
                    border: 1px solid rgb(from var(--fg) r g b / calc(1 - var(--transparency)));
                }
            }
        }
    }

    /* Standardmäßig ausblenden */
    summary {
        summary {
            user-select: none;
            cursor: pointer;
        }

        >span {
            display: inline grid;

            >* {
                grid-column: 1;
                grid-row: 1;
            }

            span {
                visibility: hidden;
            }
        }
    }
}

/* Einblenden wenn das entsprechende Radio-Input ausgewählt ist */
:root:has(input[type="radio"]#System:checked) #ThemeSelect summary span[data-theme="System"],
:root:has(input[type="radio"]#Light:checked) #ThemeSelect summary span[data-theme="Light"],
:root:has(input[type="radio"]#Dark:checked) #ThemeSelect summary span[data-theme="Dark"],
:root:has(input[type="radio"]#Custom:checked) #ThemeSelect summary span[data-theme="Custom"] {
    visibility: visible;
}

#Hero {
    --height: 100dvh;
    height: var(--height);
    overflow: hidden;

    display: grid;
    grid-template-columns: var(--padding-inline) 1fr var(--padding-inline);
    grid-template-areas: ". Content .";
    grid-template-rows: var(--height);
    position: relative;
    z-index: 1;
    isolation: isolate;
}

#HeroImg {
    grid-column: 1 / -1;
    grid-row: 1;

    >img {
        height: 100%;
        width: 100%;
    }
}

#SiteFooter {
    width: 100%;
    height: auto;
    padding: 2rem var(--padding-inline);
    background-color: var(--bg-2);
}

#ReturnToTop {
    display: block;
    position: fixed;
    bottom: min(5rem, 5vw);
    right: min(5rem, 5vw);
    border-radius: 50%;
    padding: 1rem;
    font-size: 2rem;
    z-index: 100;
    isolation: isolate;

    svg {
        fill: var(--accent);
    }
}

.sect {
    --sect-pad: 10rem;

    padding-block: var(--sect-pad);

    &.sect-large-end {
        padding-block-end: calc(var(--sect-pad) + 4rem);
    }

    &.sect-large-start {
        padding-block-start: calc(var(--sect-pad) + 4rem);
    }

    &.sect-small-end {
        padding-block-end: calc(var(--sect-pad) - 4rem);
    }

    &.sect-small-start {
        padding-block-start: calc(var(--sect-pad) - 4rem);
    }
}