#SkillsCard {
    padding: 2rem 2.5ch;
    gap: 5ch;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill-icon {
    height: 3em;
}

.category-title {
    margin-bottom: 1rem;
}

.category-title,
.category {
    width: fit-content;
}

.section {
    --margin: 4rem;

    &:nth-child(1) {
        margin-bottom: var(--margin);
    }

    &:nth-child(2) {
        margin-top: var(--margin);
    }
}

#AboutMeTextContainer {
    container: aboutMeTextContainer / inline-size;
    height: max-content;
    width: 100%;
}

#AboutMeText {
    columns: 75ch 2;
    gap: 3.5ch;
    width: 100%;
}

#AboutMeContent {
    display: grid;
    grid-template-columns: 1fr auto;
    /* gap: 5ch; */
    align-items: center;

    @media (width<130ch) {
        grid-template-columns: 1fr;
        justify-content: center;

        :first-child {
            order: 2;
        }
    }
}