.vertical {
    display: none;
}

.horizontal {
    /* display: none; */
}

#EinzelteilePic {
    position: relative;
    width: fit-content;
    height: fit-content;
    place-self: center;
    --pop-top: 50%;
    --pop-left: 50%;
    --pop-pre-translate: translate(-50%, -50%);
    --pop-translate: translate(calc(-100% - 1em), calc(-100% - 0.25em));
    isolation: isolate;

    img {
        height: 60vh;
        width: auto;
        z-index: -1;
    }

    .marker {
        position: absolute;
        inset: 0;
        width: auto;
        height: auto;
        border-radius: var(--border-r);

        /* outline: 1px solid red; */

        .tool-tip {
            width: 100%;
            height: 100%;
        }
    }

    .accent-point {
        position: absolute;
        left: var(--pop-left);
        top: var(--pop-top);
        translate: -50% -50%;
        width: var(--_width);
        height: var(--_width);
    }

    #UnoR4Marker {
        inset: 50% 75% 25% 4%;
    }

    #UnoR3Marker {
        inset: 66% 40% 15% 40%;
        z-index: 2;
    }

    #MatrixMarker {
        inset: 25% 50% 50% 22%;
        z-index: 2;

        --pop-top: 40%;
    }

    #ResistorsMarker {
        inset: 7% 1% 28% 52%;
        z-index: 0;

        /* --pop-top: 20%;
        --pop-left: 25%; */
    }

    #ExtrasMarker {
        inset: 2% 47% 67% 10%;
        z-index: 1;
    }

    #BreadboardMarker {
        inset: 57% 48% 28% 35%;
        z-index: 1;

        --pop-top: 40%
    }
}

#PrepGrid {
    display: flex;
    flex-wrap: wrap;

    p {
        min-width: 60ch;
        margin-right: auto;
    }
}

#RunSect {
    container-type: inline-size;
}

#RunCards {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 2ch;
    row-gap: 3rem;
}

.card {
    position: relative;
    background-color: var(--bg);
    color: var(--fg);
    --padding: 2rem;
    padding: var(--padding);
    border-radius: var(--border-r);

    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;

    @container (max-width: 100ch) {
        grid-column: span 2;
    }

    h3 {
        position: relative;
        text-align: center;
        padding-bottom: calc(var(--padding) * 0.5);
        /* border-bottom: 3px solid var(--bg-normal); */

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: auto;
            left: 0;
            right: 0;
            height: 3px;
            border-radius: var(--border-r);
            background-color: var(--bg-normal);
        }
    }

    .group {
        padding-left: calc(var(--padding) * 0.5);

        h4 {
            position: relative;
            margin-left: calc(var(--padding) * -0.55);
            margin-bottom: 0.75rem;
            padding-left: calc(var(--padding) * 0.5);
            /* border-left: 6px solid var(--bg-normal); */

            &::before {
                content: "";
                position: absolute;
                width: 6px;
                left: -3px;
                height: auto;
                bottom: 0;
                top: 0;
                border-radius: var(--border-r);
                background-color: var(--bg-normal);
            }
        }

        ul {
            margin-left: 2ch;
        }
    }
}