:root {
    --dark: #11111b;
}

.title-wrapper {
    background: white;
    background: center / cover url("../assets/Screendesign/Drucker/title-img.png");

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: white;
        z-index: -1;
    }
}