:root {
    --dark: #11111b;
}

.printer-border {
    border-radius: 2.5% / 4.35%;

    --border: 1rem;
    /* border: var(--border) solid black; */
    border: 2px solid light-dark(transparent, var(--fg));
    /* background-color: black; */
}

@container GenInfoCont (width < 175ch) {
    #GeneralInfo {
        display: grid;
        grid-template-areas:
            "Graphic Table"
            "Content Content";
    }

    #TlDrTable {
        margin: auto;
    }
}

@container GenInfoCont (width < 107ch) {
    #GeneralInfo {
        display: grid;
        grid-template-areas:
            "Graphic"
            "Table"
            "Content";
    }

    #TlDrTable {
        margin: revert;
    }
}